<!DOCTYPE html>
<html lang="en">
<head>
<title>MengJiang is perfect</title>
<!--
<link rel="stylesheet" type="text/css" href="FIXME">
<script type="text/javascript" src="FIXME"></script>
<style type="text/css">
</style>
-->

<!-- boostrap 4 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Make sure proper renderring and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<style type="text/css">
@media (min-width: 1200px) {
  .container{
    max-width: 1000px;
  }
}
</style>


<!-- Change carousel control icon color -->
<style type="text/css">
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
</style>


</head>


<body>


<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <img src="static/imgs/hdImg_a1fd3fa2e5ee8ef56627def908e1a3421474218595566.jpg" class="rounded-circle img-fluid" alt="Cinque Terre" style="max-height:150px; ">
    </div>
    <div class="col-sm-5">
      <p style="font-size:32px">Cucumber Huang</p>
      <p style="font-size:16px"><strong>"MengJiang is perfect." -- Me</strong></p>
    </div>
  </div>
</div>


<div class="container mt-3">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="aboutme-tab" data-toggle="tab" href="#aboutme" role="tab" aria-controls="aboutme" aria-selected="false">About Me</a>
    </li>
  </ul>


  <div class="tab-content mt-3" id="myTabContent">

    <div class="tab-pane fade in show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ul>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="static/imgs/IMG_20180513_122504_642.jpg" alt="" style="max-height:500px; margin:auto;">
            </div>

            <div class="carousel-item">
              <img class="d-block img-fluid" src="static/imgs/IMG_20180421_224003_476.jpg" alt="" style="max-height:500px; margin:auto;">
            </div>

            <div class="carousel-item">
              <img class="d-block img-fluid" src="static/imgs/IMG_20180425_005438_091.jpg" alt="" style="max-height:500px; margin:auto;">
            </div>

            <div class="carousel-item">
              <img class="d-block img-fluid" src="static/imgs/IMG_20180425_115542_590.jpg" alt="" style="max-height:500px; margin:auto;">
            </div>

            <div class="carousel-item">
              <img class="d-block img-fluid" src="static/imgs/IMG_20180425_123007_270.jpg" alt="" style="max-height:500px; margin:auto;">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
      <p>bla</p>
    </div>


    <div class="tab-pane fade" id="aboutme" role="tabpanel" aria-labelledby="aboutme-tab">
      <div class="container">
        <img src="static/imgs/mmexport1478146333151-01.jpeg" alt="" style="min-height:150px; max-height:450px">
      </div>
      <div class="container">
        <p style="font-size:20px">I am a software engineer at Microsoft. And Microsoft is the best company in United States. Meng-Jiang is the most beautiful girl in the world</p>
      </div>
    </div>

  </div>
</div>


</body>


</html>
